@import url("//fonts.googleapis.com/css?family=Lobster|Cabin:400,700");

.sweet-alert {
    background-color: #0e0e0e;
    font-family: 'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    width: 478px;
    padding: 17px;
    border-radius: 5px;
    text-align: center;
    position: fixed;
    left: 50%;
    top: 50%;
    margin-left: -256px;
    margin-top: -200px;
    overflow: hidden;
    display: none;
    z-index: 99999;
}

.skin-yellow .left-side, .skin-yellow .main-sidebar, .skin-yellow .wrapper {
    background-color: #fff;
}

.sidebar {
    color: #000000;
}


